<!DOCTYPE type>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Mind maps</title>
        <link rel="stylesheet" href="{% static "app/css/style.css" %}">
    </head>
    <body>
        <header>
            <div class="block_logo">
                <h1>Mind maps!</h1>
            </div>
            <div class="block_main"></div>
            <div class="block_reg">
                <ul class="link_reg">
                    <li>
                        <a class="a_reg" href="">Вход</a>
                    </li>
                    <li>
                        <a class="a_reg" href="">Регистрация</a>
                    </li>
                </ul>
            </div>
        </header>
        <div class="wrapper">
            <p>Welcome to my first Django project!</p>
        </div>
        <footer></footer>
    </body>
</html>