<!DOCTYPE type>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Mind maps</title>
        <link rel="stylesheet" href="{% static "app/css/style.css" %}">
    </head>
    <body>
        <header>
            <div class="block_logo">
                <h1>Mind maps!</h1>
            </div>
            <div class="block_main">
                <ul class="link_main">
                    <li>
                        <a class="a_main" href="">Главная</a>
                    </li>
                    <li>
                        <a class="a_main" href="">Главная</a>
                    </li>
                    <li>
                        <a class="a_main" href="">Главная</a>
                    </li>
                    <li>
                        <a class="a_main" href="">Главная</a>
                    </li>
                </ul>
            </div>
            <div class="block_reg">
                <ul class="link_reg">
                    <li>
                        <a class="a_reg" href="{% url 'sing_up' %}">Вход</a>
                    </li>
                    <li>
                        <a class="a_reg" href="{% url 'sing_in' %}">Регистрация</a>
                    </li>
                </ul>
            </div>
        </header>
        <div class="wrapper">
            <p>Welcome to my first Django project!</p>
            {% block content %}
            <h1>Главная</h1>
            {% endblock %}
        </div>
        <footer>
            <p class="p_footer">Сайт 2024 год</p>
        </footer>
    </body>
</html>