{% extends "base.html" %}

{% block content %}
    <h1>Форма регистрации</h1>
    <div class="block_form">
        <form class="form_reg">
            <label>Фамилия</label>
            <input type="text"></input><br>
            <label>Имя</label>
            <input type="text"></input><br>
            <label>Логин</label>
            <input type="login"></input><br>
            <label>Пароль</label>
            <input type="password"></input><br>
            <label>Повторите пароль</label>
            <input type="password"></input><br>
            <button>Зарегистрироваться</button>
        </form> 
    </div>
{% endblock %}